<html>
<head>
<title>LoggedIn</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleLogin.css') }}">
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="/LoggendIn">Introduction</a>
        <a href="/Monitoring">Monitoring</a>
        <a href="/About">About us</a>
        <a id = "logout" href="/">Logout</a>
      </div>
      
      <div id="main">
        <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
      </div>
      
      <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
      </script>

    <div class="bg-image"></div>
    <div class="content">
    </br></br></br></br>
    <h1 id = "Log"> Introduction</h1>
    <img id = "introPic" src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.15752-9/244053767_548786853077079_7260776513438851380_n.png?_nc_cat=101&ccb=1-5&_nc_sid=ae9488&_nc_ohc=Pc-cmNvtxFYAX9qhK5O&_nc_ht=scontent.fmnl17-1.fna&oh=6d8fc71a252d7b0a00a7edf15760042f&oe=61C8A9F3" ></a>
    
    </br>
    </br>
    </br>
    
    <p id = "size">The project is a control system that sustain oxygen, salinity, and temperature 
            level that minimize the mortality rate of the post larvae vannamei shrimp. 
            The electricity  source of the control system are solar panel, and a plug-in for versatility. 
            The project will be monitored by hardware and application. 
            The monitoring system can display the oxygen, salinity, 
            and temperature level of the control system.</p>

    

</div>

<a>©2021 Aqua Cuidado. All rights reserved | Design by </a>
<a id = "color" >4j's</a>
</body>
</html>