

.bg-image{
    background-image: url('https://cdn.wallpapersafari.com/53/42/Ze0cj1.jpg');

    filter: blur(4px);
    -webkit-filter: blur(4px);
        /* Full height */
    height: 100%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    
    font-family: 'Lexend Deca'; font-size: 80px;
    transform: translate(-50%, -50%);
    
    
    padding: 5px;
    text-align: center;
    width: 50%;
    border: 0px solid black;
    border-radius: 25px;
    
    background: rgba(0, 0, 0, 0.6);
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    0%   {background-color:rgb(251, 255, 251); left: 100px; top:100px;}
}


.Home {
    text-align: center;
    font-family: 'Lexend Deca'; font-size: 80px;
    margin-bottom: 10px;
    color:rgb(251, 255, 251);
}
img {
    width: 150px;
    
}


.Box{
    margin: auto;
    text-align: center;
    font-family: 'Lexend Deca'; font-size: 16px;
    color:white;
    
}

#round {
    border-radius: 25px;
    background: #ffffff;
    padding: 20px;
    width: 400px;
    height: 50px;
}

#submit {
    border-radius: 25px;
    color: white;
    background: rgb(4,71,174);
    padding: 20px;
    width: 400px;
    height: 50px;
}

#Register{
    color: rgb(0,123,255);
}

#color{
    color: rgb(0,123,255);
}


