.bg-image{
    background-image: url('https://cdn.wallpapersafari.com/53/42/Ze0cj1.jpg');

    filter: blur(4px);
    -webkit-filter: blur(4px);
        /* Full height */
    height: 90%; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    font-family: 'Lexend Deca';
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    padding: 5px;
    
    width: 70%;
    height: 90%;
    border: 0px solid black;
    border-radius: 25px;
    
    background: rgba(0, 0, 0, 0.6);
    animation-name: example;
    animation-duration: 2s;
    color:rgb(251, 255, 251);
}

@keyframes example {
    0%   {background-color:rgb(251, 255, 251); left: 100px; top:100px;}
}

#size{
    font-family: 'Lexend Deca';
    font-size: 20px;
}

.registration{
    text-align: center;
    font-family: 'Lexend Deca'; 
    font-size: 10px;
    margin-bottom: 10px;
    color:rgb(251, 255, 251);

}

#introPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 40%;
    
}

#MonitorPic{
    width: 50px;
    height: 50px;
}


#tableMonitor {
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    color:rgb(251, 255, 251);
    margin-left: auto;
    margin-right: auto;
  }

#AboutTable {
    border: 1px solid rgb(255, 255, 255);
    color:rgb(251, 255, 251);
  
  }

#color{
    color: rgb(0,123,255);
}

#Log{
    
    text-align: center;
    font-family: 'Lexend Deca'; font-size: 35px;
}

/* slide bar*/
body {
    font-family: 'Lexend Deca';
  }

  #logout{
      color: cornsilk;
      background-color: crimson;
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 100%) {
  .column {
    width: 100%;
    display: block;
  }
}