<html>
<head>
<title>LoggedIn</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleLogin.css') }}">
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="LoggendIn.html">Introduction</a>
        <a href="Monitoring.html">Monitoring</a>
        <a href="About.html">About us</a>
        <a id = "logout" href="/">Logout</a>
      </div>
      
      <div id="main">
        <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
      </div>
      
      <script>
      function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
      </script>

    <div class="bg-image"></div>
    <div class="content">
    
    
          
        <h2 style="text-align:center">Our Team</h2>
        <div class="row">
        <div class="column">
            <div class="card">
            <img src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.6435-9/64815653_1371236429690344_8724444721373511680_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=5jOpsNXJFd8AX_QTMBA&_nc_ht=scontent.fmnl17-1.fna&oh=331336d44813dd8564612e425d351861&oe=61C6FCAB" alt="John" style="width:100%">
            <div class="container">
                <h2>John Alexis Ferrer</h2>
                <p class="title">Back End Developer</p>
                <p>Good at programming</p>
                <p>qjaaferrer@tip.edu.ph</p>
                <p><a href ="https://www.facebook.com/hijosenoir"><button class="button">Contact</button></a></p>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.6435-9/119199471_3548687865143835_824353221725169463_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_ohc=MmVYcN1vY6EAX_gAuHX&_nc_ht=scontent.fmnl17-1.fna&oh=354c4ca337ba358e21ed445f6e69f13d&oe=61C61D02" alt="Justine" style="width:100%">
            <div class="container">
                <h2>Justine Imperial</h2>
                <p class="title">Front End Developer</p>
                <p>Good at programming</p>
                <p>qjoimperial@tip.edu.ph</p>
                <p><a href ="https://www.facebook.com/justineimps"><button class="button">Contact</button></p></a>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="https://scontent.fmnl17-4.fna.fbcdn.net/v/t1.6435-9/50748269_1920300744746915_5153111154834276352_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_ohc=pvalHinNQIEAX93NUvm&_nc_ht=scontent.fmnl17-4.fna&oh=dfa406b535929c15477254bb618bf606&oe=61C80B53" alt="Justine" style="width:100%">
            <div class="container">
                <h2>Janos Angelo Jantoc</h2>
                <p class="title">Back End Developer</p>
                <p>Good at programming</p>
                <p>qjagjantoc@tip.edu.ph</p>
                <p><a href ="https://www.facebook.com/janosangelo.g.jantoc"><button class="button">Contact</button></p></a>
            </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
            <img src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.6435-9/66301463_802459390182964_1345274788939038720_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=03i_4hjFk78AX95JxIh&_nc_ht=scontent.fmnl17-1.fna&oh=9f0be30b47d3a216bda20294226b34a3&oe=61C6C83F" alt="John" style="width:100%">
            <div class="container">
                <h2>Joshua Santos</h2>
                <p class="title">Front End Developer</p>
                <p>Good at programming</p>
                <p>qjmsantos01@tip.edu.ph</p>
                <p><a href ="https://www.facebook.com/mac.furry.7"><button class="button">Contact</button></p></a>
            </div>
            </div>
        </div>
        </div>
        

    

    
    
    

    

</div>

<a>©2021 Aqua Cuidado. All rights reserved | Design by </a>
<a id = "color" >4j's</a>
</body>
</html>