<html>
<head>
<title>Login Page</title>
<style>
/*#MainloginArea {
    margin: auto;
    height: 400px;
    width: 500px
}

#mainbreak {
    height = 300px;
    width = 100px;
}*/
</style>
</head>
<body>
    <div id = "mainbreak"></div>
    <div id = "MainloginArea">
        <h2 class = "display-1">Login System</h2>
        <form method = "PSOT">
            <input type = "text" aria-label="First name" class="form-control" placeholder = "Username", name = "Username">
        </br>
        <input aria-label="First name" class="form-control" placeholder = "Password", name = "Password", type = "Password">
    </br>
        <input type = "Submit" class="btn btn-dark"></input>
    </form>
        <a href = "/register">Register</a>
    </div>
</body>
</html>