<html>
<head>
<title>LoggedIn</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleLogin.css') }}">
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <div class="bg-image"></div>
    <div class="content">

    <a id = "Log">Welcome {{uname}}, You have successfully logged into the system </a></br></br></br>
    <table>
    <tr>
    <td><img src="https://cdn-icons-png.flaticon.com/512/2622/2622386.png" ></td>
    <td><a>Temperature:</a></td>
    <td><a>Values</a></td>
    </tr>

    <tr>
    <td><img src="https://cdn-icons-png.flaticon.com/512/2786/2786573.png" ></td>
    <td><a>Oxygen:</a></td>
    <td><a>Values</a></td>
    </tr>

    <tr>
    <td><img src="https://cdn-icons-png.flaticon.com/512/2156/2156550.png" ></td>
    <td><a>Salinity:</a></td>
    <td><a>Values</a></td>
    </table></tr>
    </tr>

    

</div>

<a>©2021 Aqua Cuidado. All rights reserved | Design by </a>
<a id = "color" >4j's</a>
</body>
</html>