<head>
    
    <title>Register</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styleRegister.css') }}">
    </head>
    <body>
        <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
        <div class = "bg-image"></div>
        <div class = "content">
        
        <div class = "registration"></div>
        <h2>Welcome User, Seems Like you have not registered to the system </h2>
        <h3>Spend a moment and register yourself</h3>

        <form method = "POST">
        </br></br></br>    
        <a>UserName</a></br>
            <input id = "round" class = "form-control" placeholder = "Desired UserName" name = "DUsername">
        </br>

        </br>
        <a>Password</a></br>
            <input id = "round" class = "form-control" placeholder = "Desired Password" name = "Dpassword", type = "Password"></br>
        
        </br>
      
            <input id = "submit" type = "Submit" class = "btn btn-dark" value = "Sign up">
        </form>
        </div>

    </div>
    
    <a>©2021 Aqua Cuidado. All rights reserved | Design by </a>
    <a id = "color" >4j's</a>
    </body>
    </html>
