<html>

<head>
   <title>Aqua Cuidado</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/base.css') }}">
</head>

<body>
   <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
   <div class="topnav">
      <div class="topnav-right">
         <a href="/">Login</a>
         <a class="active" href="/register.html">Register</a>
      </div>
   </div>
   </br></br></br>
   </br>
   <div class="registration">
      <h1>Registration</h1>
      </br>
      <table>
         <form method="POST">
            <tr>
               <td>

                  <label>First Name</label>
                  <input type="text" placeholder="Enter First Name" name="fname" required>
               </td>
               <td><label>Last Name</label>
                  <input type="text" placeholder="Enter Last Name" name="lname" required>
               </td>
      </table>
      <label>Mobile Phone</label>
      <input type="text" placeholder="Enter Mobile Phone Number" name="mobile_number" required>
      <label>Email</label>
      <input type="text" placeholder="Enter Email" name="email" required>
      <label>Password</label>
      <input type="password" placeholder="Enter Password" name="password" required>
      </br>
      </br>
      <a href="/"><input class="submit" type="Submit" class="btn btn-dark" value="Register"></a>
      </br>
      <hr class="line">
      </hr>
      </form>
      <a href="/"><input class="button" type="button" class="btn btn-dark" value="Back to Login"></a>
   </div>
</body>