<html>
   <head>
      <title>TrafalgarPlaza</title>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/base.css') }}">
   </head>
   <body>
      <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
      <div class="topnav">
         <a href="/homepage">Home</a>
         <a class="active" href="/team">Team</a>
         <a href="/monitoring">Monitoring</a>
         <div class="topnav-right">
            <div class="dropdown">
               <button class="dropbtn">Account
               <i class="fa fa-caret-down"></i>
               </button>
               <div class="dropdown-content">
                  <a href="/logout">Logout</a>
               </div>
            </div>
         </div>
      </div>
      </br></br></br></br>
      <div class = "dashboard">
         <h2 style="text-align:center">Our Team</h2>
         <div class="row">
            <div class="column">
               <div class="card">
                  <img src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.6435-9/64815653_1371236429690344_8724444721373511680_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_eui2=AeFJDnMcp6uNnaVY0ejL75Ebdzw4EOrPddt3PDgQ6s9129KE6v17ysjGQ5cLdlTAFNz6LP34imfZmPssCTX_r-pf&_nc_ohc=79NfZYXJnoAAX9K2y3q&_nc_ht=scontent.fmnl17-1.fna&oh=00_AT9RHu5v6LBid-esBVwuqeZ0L3_H4ibYrXH-0EqrSyySjg&oe=620644AB" alt="John" style="width:100%">
                  <div class="container">
                     <h2>John Alexis Ferrer</h2>
                     <p class="title">Back End Developer</p>
                     <p>Good at programming</p>
                     <p>qjaaferrer@tip.edu.ph</p>
                     <p><a href ="https://www.facebook.com/hijosenoir"><button class="button">Contact</button></a></p>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="card">
                  <img src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t1.6435-9/119199471_3548687865143835_824353221725169463_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_eui2=AeFvbZQn3xjO5sbvJaHH-JUQ31GNn26aWAnfUY2fbppYCeQEZmazBVtYi_z2_SKKsIeez-eywtLR3_83cti2gJFn&_nc_ohc=PprAaPESvF8AX-M48nk&_nc_ht=scontent.fmnl30-1.fna&oh=00_AT-__uF_IYelUU4T1kfFgWk5CLNw1ULtaaiHsZhfdYONew&oe=62056502" alt="Justine" style="width:100%">
                  <div class="container">
                     <h2>Justine Imperial</h2>
                     <p class="title">Front End Developer</p>
                     <p>Good at programming</p>
                     <p>qjoimperial@tip.edu.ph</p>
                     <p><a href ="https://www.facebook.com/justineimps"><button class="button">Contact</button></p>
                     </a>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="card">
                  <img src="https://scontent.fcrk1-4.fna.fbcdn.net/v/t1.6435-9/50748269_1920300744746915_5153111154834276352_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=0debeb&_nc_eui2=AeHL8UjQtFTq7OdYXQHAocEzkUQB8EAkPueRRAHwQCQ-5zbSVTIIKOCF1cDexT3lucsRx6gVmJTWmP7dle6-nPxU&_nc_ohc=wAn0CoazTfEAX9VS6_i&tn=9ioUiDXreWC1ddTi&_nc_ht=scontent.fcrk1-4.fna&oh=00_AT_S6Up9Ex8mIVQ6FAeL7mNFUPBJ_Fuh43bcG82bGb_bCw&oe=62035ED3" alt="Janos" style="width:100%">
                  <div class="container">
                     <h2>Janos Angelo Jantoc</h2>
                     <p class="title">Back End Developer</p>
                     <p>Good at programming</p>
                     <p>qjagjantoc@tip.edu.ph</p>
                     <p><a href ="https://www.facebook.com/janosangelo.g.jantoc"><button class="button">Contact</button></p>
                     </a>
                  </div>
               </div>
            </div>
            <div class="column">
               <div class="card">
                  <img src="https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.6435-9/66301463_802459390182964_1345274788939038720_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_eui2=AeEpngCmcFGNuJcSbAr8LShgk7y_gb6krP6TvL-BvqSs_iVYnWXwXEvVnqWwCmH_wKO_ChY9km5Iwv2w6kioVb_q&_nc_ohc=ETr-tiYVqvMAX9HYaSv&_nc_ht=scontent.fmnl17-1.fna&oh=00_AT9Ur_Z3RxyOAd-eD62KyJp_0OnCIw8JrLTjZV90fGZXeg&oe=6206103F" alt="Joshua" style="width:100%">
                  <div class="container">
                     <h2>Joshua Santos</h2>
                     <p class="title">Front End Developer</p>
                     <p>Good at programming</p>
                     <p>qjmsantos01@tip.edu.ph</p>
                     <p><a href ="https://www.facebook.com/mac.furry.7"><button class="button">Contact</button></p>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>    
   </body>