body{
    font-family: 'Lexend Deca';
    background-image: url('https://s.walldump.com/large/walldump-YgB904k2X.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    background-size: cover;
    
    
}
/*Search*/
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 17px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*Top Navigator*/
.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5)
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ddd;
    color: black;
  }

  .topnav-right{
      float: right;
  }

  /*Drop Down*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*Homepage*/
  #introPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 50%;
    
}
  /* Login CSS*/

  #imgSize{

    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 15%;
    
    
    
  }

  .login{
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;

    margin:auto;
    width: 15%;
    border: white;
    background: white;

  }

  .registration{
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;

    margin:auto;
    width: 20%;
    border: white;
    background: white;

  }

  input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    
    box-sizing: border-box;
  }
  

  input[type=password], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .submit{
    border: none;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(203,226,255);
  }

  .submit:hover{
    background-color: rgb(74,128,170);
    color: rgb(255, 255, 255);
  }

  .line{
    border: 1px solid rgb(0, 0, 0);
    
  }
 
  .button{
    border: none;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(255, 255, 255)
  }

  .button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }


  /*Admin CSS*/
  .dashboard{
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 15px;

    margin:auto;
    width: 50%;
    border: white;
    background: white;

  }

  table, td, th{
    border-collapse: collapse;
  }
  .data{
    border: 1px solid black;
    width: 100%;
  }

  #tableColor{
    background-color: rgb(170, 221, 216);
  }

  /*Monitoring CSS*/
  #MonitorPic{
    width: 50px;
    height: 50px;
  }
  
  #tableMonitor {
    border: 1px solid rgb(255, 255, 255);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  /*Team CSS*/
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 25%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 100%) {
    .column {
      width: 100%;
      display: block;
    }
  }